html,body{
    height: 100%;
}
body{
    padding-top: 60px;
    
}
body#profile img#profile-image{
   -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}


.huge{
    font-size: 40px;
}
.tag-boxes .panel-primary{
    color: white;
    border: 1px solid #00b38f;
}
.tag-boxes .panel-red{
    color: white;
    background: #00e6b8;
    border: 1px solid #00b38f;
    
}
.tag-boxes .panel-red a{
    color: #00cca3;
    
} 
.tag-boxes .panel-red a:hover
{
    color: #00b38f ;
    
}


.tag-boxes .panel-green{
    color: white;
    background: #00e673;
    border: 1px solid #00cc66;
    
}
.tag-boxes .panel-green a{
    color: #00cc00;
    
} 
.tag-boxes .panel-green a:hover
{
    color: #00b359 ;
    
}


.tag-boxes .panel-yellow{
    color: white;
    background: #ff0066;
    border: 1px solid #cc0052;
    
}
.tag-boxes .panel-yellow a{
    color:#ff1a75;
    
} 
.tag-boxes .panel-yellow a:hover
{
    color:  #cc0052 ;
    
}

#wrapper{
    min-height: 100%;
    position: relative;
}

.body-section{
    padding-bottom: 70px;
}

footer 
{
    background: #2FA4E7;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a
{
    color: white;
    font-weight: bold;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}









